#head a{
 text-decoration: none;
 color: black;
}

#head a:hover{
    color: teal;
}
#head img{
    width: 85px;
    height: 40px;
    margin-left: 35px;
    margin-top: 12px;
    grid-area: a1;
}
#head>:nth-child(1){
    display: grid;
    grid-template: "a1 b1";
    grid-area: a;
}
#head>:nth-child(1){
    width: 51vw;
}

#head a{
    font-family: Arial;
    margin-left: 30px;
    
}
 #head >div >:nth-child(2){
     grid-area: b1;
     margin-top: 19px;
     margin-bottom: 0;
 }
 #box2>button{
     background-color: white;
     border: 1px solid black;
     width: 120px;
     height: 40px;  
     margin-left: 10px; 
     border-radius: 5px; 
 }
 #box2>button:hover{
     color: teal;
     border: 1px solid teal;
 }
 #head{
     display: grid;
     grid-template:"a b" ;
    
     position: relative;
     /* background-color: white;
     top: 0%;
     height: 73px;
     padding-top: 9px;
     justify-content: flex-end;
     position: fixed; */        

 }
 #head >div{
     margin-top: 5px;
 }
 #box2{
     width: 270px;

     grid-area: b;
     margin-left: 24.8vw;
     margin-top: 15px;
 }
 #box2 a{
     margin-left: 20px;
     margin-top: 5px;
 }
 #box2 button{
     margin-top: 10px;
 }

#cont2 {  
    margin-top: 15.5vh;
    margin-left: 38px;
    display: grid;
    grid-template: "c d";
    gap: 40px;
    height: 615px;
} 
#cont2>:nth-child(1){
height: 70vh;
grid-area: c;
}
#cont2>:nth-child(2){
    height: 70vh;
    grid-area: d;  
}
#cont2-text{
    color: white;
    background-image: linear-gradient(to right, rgb(255, 145, 0) , rgb(255, 187, 0));
    border-radius: 10px;
    width: 65px;  
    text-align: center;
    font-size: 70%;
    padding: 2.8px;
    font-weight: bold;
    margin-left: 2px;
}

#cont2 >:nth-child(1) >div>P{
    color: rgb(255, 115, 0);
    margin-bottom: 0;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    margin-top:3px ;
}
#cont2 >:nth-child(1) >:nth-child(1){
    display: flex;
    background-color: rgb(248, 237, 215);
    width: 290px;
    padding: 2.2px;
    border-radius: 13px;
    margin-top: 6vh;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

#cont2>:nth-child(1)>:nth-child(2){
    font-size: 170%;
    font-weight: bold;
    margin-top: 6vh;
    letter-spacing: 1px;
    line-height: 7vh;
    margin-bottom: 3.5vh;
}
#cont2>:nth-child(1)>:nth-child(3){
    line-height: 4vh;
    margin-bottom: 3vh;
}
#cont2>:nth-child(1)>:nth-child(4){
    display: grid;
    grid-template: "e f ";
    width: 460px;
}

#form1{
    width: 380px; 
}
#input1{
    width: 360px;
    height: 8.5vh;
    border: 1px solid teal;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 3.4vh;
    margin-right: 0;
    grid-area: e;
}
.button1{
    width: 50vw;
    max-width: 175px;
    height: 8.5vh;
    grid-area: f;
    margin-top: 3.4vh;
    background-color: rgb(23, 185, 185);
    border-radius: 6px;
    border: 1px solid rgb(23, 185, 185);
}
.button1:hover{
    background-color:  rgb(15, 141, 141) ;
}

.line{
    height: 1px;
    width: 262px;
    margin-top: 5px;
    background-color: gray;
    opacity: 10%;
}
#cont2>:nth-child(1)>:nth-child(5){
 display: flex;
 margin-top: 4vh;
 width: 550px;
 font-weight: bold;
 font-size: 11px;
 font-family: Arial, Helvetica, sans-serif;
}
#button2{
    width: 555px;
    margin-top: 3.8vh;
    height: 8.5vh;
    border-radius: 10px;
    border: 1px solid silver;
    background-color: white;
    font-size: 15px;
    letter-spacing: 1px;
}
#button2:hover{
    border: 1px solid rgb(15, 141, 141) ;
}
#cont2>div>:last-child{
    color: navy;
    margin-top: 6px;
}
#cont2>div>:last-child>a{
    text-decoration-style: dashed;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 1.5px;
    color: navy;
    text-decoration-style: dashed;
}

.imagecont1 .button3 {
    position: absolute;
    top: 70%;
    left: 74.9%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);   
    background-color: rgb(250, 9, 9); 
    border: none;
    cursor: pointer;
    border-radius: 200px;    
  }
  .imagecont1 .button3:hover{
      width: 52px;
      height: 52px;
      border-radius: 200px;
      
  }
  
  .margin_top{      
      text-align: center;
      font-weight: bold;
      color:  rgb(255, 115, 0); 
      font-size: 18px;
      letter-spacing: 1px;
  }


  .imagecont2>:nth-child(1)>img{
    width: 60px;
    height: 60px;
    
  }

  .imagecont2>:nth-child(2)>img{
    width: 120px;
    height: 27px;
    margin-top: 18px;
    margin-left:18px ;
  }
  .imagecont2>:nth-child(3)>img{
    width: 135px;
    height: 41px;
    margin-top: 15px;
    margin-left:18px ;
  }
  .imagecont2>:nth-child(4)>img{
    width: 119px;
    height: 38px;
    margin-top: 7px;
    margin-left:18px ;
  }
  .imagecont2>:nth-child(5)>img{
    width: 122px;
    height: 25px;
    margin-top: 22px;
    margin-left:18px ;
  }
  .imagecont2>:nth-child(6)>img{
    width: 103px;
    height: 38px;
    margin-top: 13px;
    margin-left:18px ;
  }
  .imagecont2>:nth-child(7)>img{
    width: 123px;
    height: 25px;
    margin-top: 22px;
    margin-left:18px ;
  }
  .imagecont2>:nth-child(8)>img{
    width: 109px;
    height: 31px;
    margin-top: 18px;
    margin-left:18px ;
  }
  .imagecont2{
      display: flex;
      margin: auto;
      margin-top: 30px;
      margin-left: 115px;
      margin-bottom: 10vh;
  }
 

