#head a{
 text-decoration: none;
 color: black;
}

#head a:hover{
    color: teal;
}
#head img{
    width: 85px;
    height: 40px;
    margin-left: 35px;
    margin-top: 12px;
    grid-area: a1;
}
#head>:nth-child(1){
    display: grid;
    grid-template: "a1 b1";
    grid-area: a;
}
#head>:nth-child(1){
    width: 51vw;
}

#head a{
    font-family: Arial;
    margin-left: 30px;
    
}
 #head >div >:nth-child(2){
     grid-area: b1;
     margin-top: 19px;
     margin-bottom: 0;
 }
 #box2>button{
     background-color: white;
     border: 1px solid black;
     width: 120px;
     height: 40px;  
     margin-left: 10px; 
     border-radius: 5px; 
 }
 #box2>button:hover{
     color: teal;
     border: 1px solid teal;
 }
 #head{
     display: grid;
     grid-template:"a b" ;
 }
 #head >div{
     margin-top: 5px;
 }
 #box2{
     width: 270px;

     grid-area: b;
     margin-left: 24.8vw;
     margin-top: 15px;
 }
 #box2 a{
     margin-left: 20px;
     margin-top: 5px;
 }
 #box2 button{
     margin-top: 10px;
 }

#cont2 {  
    margin-top: 23.5vh;
    margin-left: 38px;
    display: grid;
    grid-template: "c d";
    gap: 40px;
    height: 615px;
} 
#cont2>:nth-child(1){
height: 70vh;
grid-area: c;
}
.imagecont1{
    height: 70vh;
    grid-area: d;  
}
#cont2-text{
    color: white;
    background-image: linear-gradient(to right, rgb(255, 145, 0) , rgb(255, 187, 0));
    border-radius: 10px;
    width: 65px;  
    text-align: center;
    font-size: 70%;
    padding: 2.8px;
    font-weight: bold;
    margin-left: 2px;
}

#cont2 >:nth-child(1) >div>P{
    color: rgb(255, 115, 0);
    margin-bottom: 0;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    margin-top:3px ;
}
#cont2 >:nth-child(1) >:nth-child(1){
    display: flex;
    background-color: rgb(248, 237, 215);
    width: 290px;
    padding: 2.2px;
    border-radius: 13px;
    margin-top: 6vh;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

#cont2>:nth-child(1)>:nth-child(2){
    font-size: 170%;
    font-weight: bold;
    margin-top: 6vh;
    letter-spacing: 1px;
    line-height: 7vh;
    margin-bottom: 3.5vh;
}
#cont2>:nth-child(1)>:nth-child(3){
    line-height: 4vh;
    margin-bottom: 3vh;
}
#cont2>:nth-child(1)>:nth-child(4){
    display: grid;
    grid-template: "e f ";
    width: 460px;
}

#form1{
    width: 380px; 
}
#input1{
    width: 360px;
    height: 8.5vh;
    border: 1px solid teal;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 3.4vh;
    margin-right: 0;
    grid-area: e;
}
.button1 ,.cont3 button{
    width: 50vw;
    max-width: 175px;
    height: 8.5vh;
    grid-area: f;
    margin-top: 3.4vh;
    background-color: rgb(23, 185, 185);
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), inset 0 -2px 3px 0 rgb(0 0 0 / 20%);
}
.button1:hover{
    background-color:  rgb(15, 141, 141) ;
}

.line{
    height: 1px;
    width: 262px;
    margin-top: 5px;
    background-color: gray;
    opacity: 10%;
}
#cont2>:nth-child(1)>:nth-child(5){
 display: flex;
 margin-top: 4vh;
 width: 550px;
 font-weight: bold;
 font-size: 11px;
 font-family: Arial, Helvetica, sans-serif;
}
#button2{
    width: 555px;
    margin-top: 3.8vh;
    height: 8.5vh;
    border-radius: 10px;
    border: 1px solid silver;
    background-color: white;
    font-size: 15px;
    letter-spacing: 1px;
}
#button2:hover{
    border: 1px solid rgb(15, 141, 141) ;
}
#cont2>div>:last-child{
    color: navy;
    margin-top: 6px;
}
#cont2>div>:last-child>a{
    text-decoration-style: dashed;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 1.5px;
    color: navy;
    text-decoration-style: dashed;
}

.imagecont1 .button3 {
    position: absolute;
    top: 70%;
    left: 74.9%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);   
    background-color: rgb(250, 9, 9); 
    border: none;
    cursor: pointer;
    border-radius: 200px;    
  }
  .imagecont1 .button3:hover{
      width: 52px;
      height: 52px;
      border-radius: 200px;
      
  }
  @media (max-width: 724px) {
    #cont2>:nth-child(1)>:nth-child(4) {
        grid-template: "e"
        "f";
    }
  }
  @media (max-width: 724px) {
    #cont2 {
        grid-template: "c"
        "d";
        margin-bottom: 90vh;
    }
    .imagecont1{
        height: 70vh;
        position: relative;
        margin-top: 22vh;
        
        justify-content: center;
        align-items: center;
        z-index: -1;
    }
    .button3{
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    #head>:nth-child(1){
        grid-template: "a1";       
    }
     
    #head >div >:nth-child(2){
        display: none;
    }
    #box2 {
        margin-left: 10vh;
    }
  }
  
  .margin_top{      
      text-align: center;
      font-weight: bold;
      color:  rgb(255, 115, 0); 
      font-size: 18px;
      letter-spacing: 1px;
  }


  .imagecont2>:nth-child(1)>img{
    width: 60px;
    height: 60px;
    grid-area: im21;
  }

  .imagecont2>:nth-child(2)>img{
    width: 120px;
    height: 27px;
    margin-top: 18px;
    margin-left:18px ;
    grid-area: im22;
  }
  .imagecont2>:nth-child(3)>img{
    width: 135px;
    height: 41px;
    margin-top: 15px;
    margin-left:18px ;
    grid-area: im23;
  }
  .imagecont2>:nth-child(4)>img{
    width: 119px;
    height: 38px;
    margin-top: 7px;
    margin-left:18px ;
    grid-area: im24;
  }
  .imagecont2>:nth-child(5)>img{
    width: 122px;
    height: 25px;
    margin-top: 22px;
    margin-left:18px ;
    grid-area: im25;
  }
  .imagecont2>:nth-child(6)>img{
    width: 103px;
    height: 38px;
    margin-top: 13px;
    margin-left:18px ;
    grid-area: im26;
  }
  .imagecont2>:nth-child(7)>img{
    width: 123px;
    height: 25px;
    margin-top: 22px;
    margin-left:18px ;
    grid-area: im27;
  }
  .imagecont2>:nth-child(8)>img{
    width: 109px;
    height: 31px;
    margin-top: 18px;
    margin-left:18px ;
    grid-area: im28;
  }
  .imagecont2{
      display:grid;
      grid-template: "im21 im22 im23 im24 im25 im26 im27 im28 ";
      margin: auto;
      margin-top: 30px;
      margin-bottom: 5.5%;
      max-width: 80vw;
  }
  @media (max-width: 724px) {
    .imagecont2 {
        grid-template: " im21 im22 im23 "
        "im24  im25  im26"
        "z im27 im28 ";
        }
        .imagecont2>:nth-child(1)>img{
            margin-left: 60px;
        }
        .imagecont2>:nth-child(2)>img{
            margin-left: 0px;
        }
        .imagecont2>:nth-child(3)>img{
            margin-left: 0px;
        }
       
    }
 .purple_circle>div{
     height: 60px;
     width:60px;
     position: relative;
     background: linear-gradient(90deg,#c44ae4,#df67ff);
     border-radius: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;   
 }
 .icon_dot{
     height: 14px;
     width: 14px;
     border-radius: 6.5px;
     background-color: white;
     position: absolute;
   
 }
.purple_circle>:nth-child(1){
    margin: auto;
}
.purple_circle>div>:nth-child(1){
     left: 17px;
     height: 14px;
     width: 24px;
     border-radius: 7px;
     background-color: white;
     position: absolute;
}

.purple_circle>div>:nth-child(2){
    left: 28px;
    background-color: rgb(243, 104, 243) ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.purple_circle>div>:nth-child(2)>div{
    height: 11px;
    width: 11px;
}
.purple_circle+div{
    text-align: center;
    margin-top: 17px;
    font-weight: 800;
}
.purple_circle+div>p{
    font-size: 20px;
    color: rgb(95, 95, 146);
    margin-top: 17px;
    font-weight: normal;
}
.purple_circle2{
    height: 38px;
    width:38px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), inset 0 -2px 3px 0 rgb(0 0 0 / 20%);
    z-index: 1;
}
.purple_circle2>div{   
    height: 11px;
    width: 11px;
    border-radius: 7px;
    background-color: rgb(179, 179, 179);
    position: absolute; 
}
.slider1{
 display: flex;
 gap: 148px;
 justify-content: center;
 margin-top: 40px;
 cursor: pointer;
}
.slider1> :hover{
    background: linear-gradient(90deg,#c44ae4,#df67ff);
}
.purple_circle2>div:hover{
    background-color: rgb(231, 12, 12);
     }

.page_links{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 17px;
    font-size: 11px;
    font-weight: bold;
    justify-items: center;
    cursor: pointer;
}

.cont3{
    margin: auto;
    margin-top: 100px;
    width: 74%; 
    display: grid;
    grid-template:"f1 f2" ;
}

.cont3 h3{
    font-size: 35.5px;
    margin-top: 10px;
    font-weight: 620;
    margin-bottom: 20px;
}

.cont3 span{
    color:#c44ae4;
    font-size: 59px;
    font-weight: bold;
}
.cont3 a{
    color: orange;
}

.cont3 button:hover{
    background-color:  rgb(15, 141, 141) ;
}
.cont3 button{
    color: white;
    font-size: 20px;
    max-width: 190px;
    margin-bottom: 20px;
}
.show1>img{
    margin-left: 13px;
    box-shadow: 0 0 11px rgb(0 0 0 / 10%);
    max-width:625px;
    max-height: 445px;
    margin-bottom: 15px;
    
}
.floating1{
    width: 374px;
    grid-area: f1;
}
.show1{
    grid-area: f2;
    
    
}
@media (max-width: 724px) {
    .cont3 {
        grid-template: " f1 "
        "f2";
        margin-left: 40px;
        max-width: 500px;
    }
    .floating1{
        width: 500px ; 
    }
    .floating1+div{
        width: 500px;
        margin-top: 30px;
    }
}
.bcolor{
    background: rgb(248, 248, 248);
}
.bcolor>:nth-child(1){
   height: 90px;
}
.smile{
     height: 50px;
     width:50px;
     position: relative;
     background: yellow;
     border-radius: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1; 
     margin: auto;
     margin-top: 100px;
     margin-bottom: 18px;
}
.text_align_center{
  margin: auto;
  text-align: center;
}
.pp{
    font-size: 31px;
    font-weight: 600;
}
.cont5{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
 
}
.cont5 img{
    width: 125px;
    height: 162px;
    margin-bottom: 50px;
    cursor: pointer;
}
#readme>a{
    
    color: orange;
    font-size: 18px;
    font-weight: bold;
    
}
#readme{
    margin-top: 50px;
    text-align: center;
}

.cont6{
    
    display: grid;
    grid-template:"con_a con_b";
    margin: auto;
    max-width: 700px;
}

.cont6>:nth-child(1){
    width: 520px;
    grid-area: con_a;
    margin-top:110px ;
}

.cont6>:nth-child(2){
    grid-area: con_b;
    min-height: 200px;
    max-width: 200px;
    margin-top:110px ;
}

.bold{
    font-weight: bold;
    font-size: 15px;
}
.cont6 img{
   margin-left: 80px;
}
.cont6 a{
 color: teal;
 font-weight: bold;
 font-size: 20px;
 text-decoration-style: none;
}

.shell{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), inset 0 -2px 3px 0 rgb(0 0 0 / 20%);
    width: 60vw;
    height: 210px;
    margin: auto;
    margin-top: 40px;
    display: none;
}
.author__title{
    margin-top: 50px;
}

.section_body{
    max-width: auto;
    position: relative;
    margin: auto;
   
}
.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
} 
.fade1{
    -webkit-animation-name:fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
} 

 @-webkit-keyframes fade{
   from {
       opacity: .4
   }
   to{
       opacity: 1
   }
}
@keyframes fade{
    from {
        opacity: .4
    }
    to{
        opacity: 1
    }
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  #dot_box{
      margin-left: 45vw;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .active, .dot:hover {
    background-color: #eb4504;
  }
  .dot_button2{
   margin-left: 300px;
   margin-top: 0;
  }

.cont8>:nth-child(1){
    text-align: center;
}  

.cont8{
    margin-top: 60px;
}