*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
#head a{
    text-decoration: none;
    color: black;
   }
   
   #head a:hover{
       color: teal;
   }
   #head img{
       width: 85px;
       height: 40px;
       margin-left: 35px;
       margin-top: 7px;
       grid-area: a1;
   }
   #head>:nth-child(1){
       display: grid;
       grid-template: "a1 b1";
       grid-area: a;
   }
   #head>:nth-child(1){
       width: 51vw;
   }
   
   #head a{
       font-family: Arial;
       margin-left: 30px;
       
   }
    #head >div >:nth-child(2){
        grid-area: b1;
        margin-top: 19px;
        margin-bottom: 0;
    }
    #box2>button{
        background-color: white;
        border: 1px solid black;
        width: 120px;
        height: 40px;  
        margin-left: 10px; 
        border-radius: 5px; 
    }
    #box2>button:hover{
        color: teal;
        border: 1px solid teal;
    }
    #head{
        display: grid;
        grid-template:"a b" ;
    }
    #box2{
        width: 30vw;
        grid-area: b;
        margin-left: 26vw;
        margin-top: 10px;
    }
    #box2 a{
        margin-left: 20px;
    }
    #gap{
        width: 100%;
        height: 100px;
    }
    #area2{
        display: grid;
        grid-template: "a1 b1";
        margin-left: 35px;
    }
    #img2{
        grid-area: b1;
    }
    /* 2 -paragraph 2 1 -button 1 1- button inside button */
    .button211{
       display: inline-block;
       overflow: hidden;
       height: 25px;
       padding: 0 8px 0 5px;
       border-radius: 13px;
       background: rgba(233, 145, 0, .1);
       font-size: 13px;
       line-height: 25px;
       font-weight: 500;
       color: #df9100;
       white-space: nowrap;
       text-overflow: ellipsis;
    }
    .button212{
        display: inline-block;
        color: #fff;
        background: linear-gradient(90deg,#598a3f,#fab35c);
        height: 19px;
        border-radius: 10px;
        padding: 0 5px;
        margin-right: 7px;
        font-size: 11px;
        line-height: 19px;
        font-weight: 600;
    }
    .heading2{
        font-size: 38px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .para21{
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    #input_button2{
        display: flex;
    }
    .input21{
        display: block;
        height: 50px;
        width: 300px;
        padding: 0 8px;
        border: 1px solid #9dc7c4;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
        color: #6c729c;
        box-shadow: inset 0 2px 5px 0 rgb(0 0 0 /7%);
        transition: 15s;
        margin-right: 15px;
    }
    .button22{
        background-color: teal;
        width: 150px;
    }
    .para22{
        text-align: center;
    }
    .button23{
        width: 465px;
        height: 50px;
        margin-bottom: 15px;
    }
    .para23{
        font-size: 16px;
        font-weight: 500;
        
    }